h2 {
    padding: 10px;
}

button {
    margin-top: 30px;
}

textarea {
    font-size: 12px !important;
    width: 480px !important;
}

.card {
    margin-bottom: 20px;
}

.container {
    margin-bottom: 50px;
}

.row {
    margin-top: 20px;
}

.nav-link {
    margin-top: 0;
}