{% extends 'base_templates/base.html' %}

{% block title %}| Classification{% endblock %}
{% block nav-classify %}active{% endblock %}

{% block container %}
    <head>
        {% load static %}
        <link href="{% static 'css/classification.css' %}" rel="stylesheet">
        <script src="{% static 'js/classification.js' %}"></script>
    </head>

{#    Tabs #}
    {% block container_classification %}
    {% include 'base_templates/base_tabs.html' %}
    {% load crispy_forms_filters %}
{#    Container #}
    <div class="container">
        <form action="/classification/results" method="post" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}
            <div id="div_home">
                <h2 class="bg-light border text-center">Classification</h2>
                <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Unidentified sequences input</h5>
                        <div class="card-body">
                            {{ form.file_input_sequences|as_crispy_field }}
                            {{ form.text_input_sequences|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Reference data input</h5>
                        {#        reference dataset#}
                        <div class="card-body">
                            {{ form.reference_options|as_crispy_field }}
                            <div id="div_file_input_reference">
                                {{ form.input_reference|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Similarity cut-off</h5>
                        <div class="card-body">
                            {{ form.cutoff_type|as_crispy_field }}
                            <div id="div_num_cutoff" style="display: none;">
                                {{ form.num_cutoff|as_crispy_field }}
                            </div>
                            <div id="div_file_cutoff">
                                {{ form.file_cutoff|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="d-grid gap-3 col-2 mx-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>


            <div id="div_settings" style="display:none">
                <h2 class="bg-light border text-center">Settings</h2>
                <div class="row align-items-end">
                    <div class="col">
                        {{ form.min_probability|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.min_alignment_length|as_crispy_field }}
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col">
                        {{ form.confidence|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.min_group_number|as_crispy_field }}
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col">
                        {{ form.min_seq_number|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.rank|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form.max_seq_number|as_crispy_field }}
                    </div>
                    <div class="col"></div>
                </div>
            </div>

        </form>

    </div>
    {% endblock %}
{% endblock %}
