{% extends 'base.html' %}

{% block title %}| Classification{% endblock %}
{% block nav-classify %}active{% endblock %}

{% block container %}
    <head>
        {% load static %}
        <link href="{% static 'css/classification.css' %}" rel="stylesheet">
        <script src="{% static 'js/classification.js' %}"></script>
    </head>

{#    Tabs #}
    <ul class="nav nav-tabs" style="background-color: #e3f2fd;">
        <li class="nav-item">
            <a class="nav-link link-dark {% block active_home %}active{% endblock %}" aria-current="page" href="/classification">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark {% block active_settings %}{% endblock %}" aria-current="page" href="/classification/settings">Settings</a>
        </li>
    </ul>

{#    Container #}
    <div class="container">
    <h2 class="bg-light border text-center">{% block page_title %}Classification{% endblock %}</h2>
    {% block container_classification %}
        <form>
    {#        FASTA-file input#}
            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Sequence input</h5>
                        <div class="card-body">
                            <label for="input_sequences" class="form-label">Select a FASTA-file:</label>
                            <input type="file" class="form-control" id="input_sequences" name="input_sequences" accept=".fasta,.fna,.ffn,.faa,.frn,.fa">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Reference input</h5>
                            <ul class="list-group list-group-flush">
                        {#        reference dataset#}
                                <li class="list-group-item">
                                    <label for="input_reference" class="form-label">Select a reference file (FASTA):</label>
                                    <input type="file" onchange="deselect_standard()" class="form-control" id="input_reference" name="input_reference" accept=".fasta,.fna,.ffn,.faa,.frn,.fa">

                                    <br>
                                    <label class="form-label">Or choose a standard file:</label><br>
                                    {% for file in test %}
                                        <input type="checkbox" class="checkoption" value="{{ file }}" onclick="single_checkbox(this)">
                                        <label for="{{ file }}">{{ file }}</label><br>
                                    {% endfor %}
                                </li>
                                <li class="list-group-item">
                    {#        radiobox tax reference#}
                                    <label class="form-label">Location of taxonomic classification of the reference sequences:</label>
                                    <input type="radio" id="in_fasta" value="in_fasta" name="tax_input" onclick="tax_input_change('none')">
                                    <label for="in_fasta">In the reference FASTA-file</label><br>
                                    <input type="radio" id="other_file" value="other_file" name="tax_input" onclick="tax_input_change('block')" checked>
                                    <label for="other_file">As a separate file</label><br><br>
                            {#        input tax reference file (only visible with second radio button#}
                                    <input type="file" class="form-control" id="input_tax" name="input_tax">
                                </li>
                            </ul>
                    </div>
                </div>

                <div class="col">
                    {#        radiobox cutoff#}
                    <div class="card h-100">
                        <h5 class="card-header">Similarity cut-off</h5>
                        <div class="card-body">
                            <label class="form-label">Type of similarity cut-off:</label><br>
                            <input type="radio" id="global_cutoff" value="global_cutoff" name="type_cutoff" onclick="cutoff_input_change()" checked>
                            <label for="global_cutoff">Global cut-off</label><br>
                            <input type="radio" id="local_cutoffs" value="local_cutoffs" name="type_cutoff" onclick="cutoff_input_change()">
                            <label for="local_cutoffs">Local cut-offs</label><br><br>
                    {#        global --> input number#}
                            <div id="div_num_cutoff">
                                <label for="num_cutoff">Cut-off value:</label>
                                <input type="number" id="num_cutoff" name="num_cutoff" min="0" max="1" step="0.0001">
                            </div>
                    {#        local --> file input#}
                            <input type="file" class="form-control" id="file_cutoff" name="file_cutoff" accept=".json" style="display:none;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-3 col-2 mx-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endblock %}
    </div>

{% endblock %}
